body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.grid-container {
    height: 960px;
    width: 960px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

.grid-square {
    box-sizing: border-box;
}